<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma-rtl.min.css">
    </head>
    <body>
        <section class="section">

        <h1 class="title"> Booking.com Webcrawler </h1>

        <form action="/start" method="post" target=frame class="myform">

            <div class="columns">
                <div class="column is-two-fifths"><input name="nxt_pg_btn" class="input is-primary" value='button[aria-label="Nächste Seite"]' type="text" placeholder="Primary input"></div>
                <div class="column">Next Page Button - CSS</div>
                <div class="column"></div>
            </div>

            <div class="columns">
                <div class="column is-two-fifths"><input  name="map_btn" class="input is-primary" type="text" value='div[data-testid="map-trigger"]' placeholder="Primary input"></div>
                <div class="column">Open Map Button</div>
                <div class="column"></div>
            </div>

            <div class="columns">
                <div class="column is-two-fifths"><input name="close_map_btn" class="input is-primary" type="text" placeholder="Primary input" value="div[class='map_full_overlay__close']"></div>
                <div class="column">Close Map Button</div>
                <div class="column"></div>
            </div>

            <div class="columns">
                <div class="column is-two-fifths"><input name="req_name" class="input is-primary" type="text" placeholder="Primary input" value="markers_on_map"></div>
                <div class="column">JSON Request Name</div>
                <div class="column"></div>
            </div>

            <div class="columns">
                <div class="column is-two-fifths">
                    <div style="margin-right:5px;">Search for addresses?</div>    
                    <div class="radio" style="margin-right:5px;"><input type="radio" name="address" value="yes" style="margin-right:5px;">yes</div>
                    <div class="radio" style="margin-right:5px;"><input type="radio" name="address" value="no" style="margin-right:5px;" checked>no</div>
                </div>
            </div>

        <input type="submit" class="button is-link" id="submit_btn" />
        </form>

        <div class="controls" style="margin-top: 25px;">
            <button class="button is-disabled" id="clear">Clear</button>
            <button class="button is-disabled" id="mkfile">To File</button>
            <button class="button is-danger" id="exit">Exit</button>
        </div>

        <div id="log"></div>

        <iframe name="frame" src="" style="position: absolute;width:0;height:0;border:0;"></iframe>

    </section>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
       <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>-->
        <!--<script src="frontend.js" async defer></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
        <script src="{{url_for('static', filename='frontend.js')}}"></script>
    </body>
</html>
